### Top subs data process

In [3]:
import pandas as pd
import numpy as np

In [15]:
data_base = pd.read_csv('../data/processed/product_substitution_neighbors_p0.csv')

In [16]:
data_base.shape

(35429, 23)

In [17]:
data_base.iloc[2,3]

31702

In [18]:
data_base.head()

,Source_P0_Product_ID,Source_P1_Bucket_ID,GMM_Cluster_ID,Closest_1_P0_Product_ID,Distance_1,Closest_2_P0_Product_ID,Distance_2,Closest_3_P0_Product_ID,Distance_3,Closest_4_P0_Product_ID,...,Closest_6_P0_Product_ID,Distance_6,Closest_7_P0_Product_ID,Distance_7,Closest_8_P0_Product_ID,Distance_8,Closest_9_P0_Product_ID,Distance_9,Closest_10_P0_Product_ID,Distance_10
0,2343,844,0,32364,0.037477,12330,0.043428,27212,0.046686,39347,...,20026,0.100203,9171,0.128460,23177,0.168683,23791,0.222634,28328,0.362063
1,10917,945,0,23818,0.246748,17409,0.251234,14044,0.281849,39296,...,41423,1.249410,48876,1.338341,28414,1.348863,23974,1.383918,12781,1.385591
2,49680,986,0,31702,0.268671,9493,0.274905,30959,0.388281,4370,...,8935,1.177387,23343,1.196376,23974,1.197076,41423,1.232138,15853,1.296778
3,30699,992,0,17680,0.127962,6860,0.129530,34022,0.146884,18495,...,45028,0.150404,26582,0.150423,41998,0.151096,37794,0.158974,35435,0.168730
4,41532,993,0,23160,0.107830,12147,0.147638,45960,0.180733,6872,...,15853,1.050989,5556,1.404736,3121,1.406959,35626,1.407229,29892,1.409434

In [19]:
data_base[data_base.Source_P0_Product_ID == 23818 ]

,Source_P0_Product_ID,Source_P1_Bucket_ID,GMM_Cluster_ID,Closest_1_P0_Product_ID,Distance_1,Closest_2_P0_Product_ID,Distance_2,Closest_3_P0_Product_ID,Distance_3,Closest_4_P0_Product_ID,...,Closest_6_P0_Product_ID,Distance_6,Closest_7_P0_Product_ID,Distance_7,Closest_8_P0_Product_ID,Distance_8,Closest_9_P0_Product_ID,Distance_9,Closest_10_P0_Product_ID,Distance_10
210,23818,12856,0,14044,0.147329,17409,0.226935,39296,0.239818,10917,...,41423,1.250106,28414,1.334855,48876,1.337608,12781,1.413576,45032,1.416489

In [20]:
data_base

,Source_P0_Product_ID,Source_P1_Bucket_ID,GMM_Cluster_ID,Closest_1_P0_Product_ID,Distance_1,Closest_2_P0_Product_ID,Distance_2,Closest_3_P0_Product_ID,Distance_3,Closest_4_P0_Product_ID,...,Closest_6_P0_Product_ID,Distance_6,Closest_7_P0_Product_ID,Distance_7,Closest_8_P0_Product_ID,Distance_8,Closest_9_P0_Product_ID,Distance_9,Closest_10_P0_Product_ID,Distance_10
0,2343,844,0,32364,0.037477,12330,0.043428,27212,0.046686,39347,...,20026,0.100203,9171,0.128460,23177,0.168683,23791,0.222634,28328,0.362063
1,10917,945,0,23818,0.246748,17409,0.251234,14044,0.281849,39296,...,41423,1.249410,48876,1.338341,28414,1.348863,23974,1.383918,12781,1.385591
2,49680,986,0,31702,0.268671,9493,0.274905,30959,0.388281,4370,...,8935,1.177387,23343,1.196376,23974,1.197076,41423,1.232138,15853,1.296778
3,30699,992,0,17680,0.127962,6860,0.129530,34022,0.146884,18495,...,45028,0.150404,26582,0.150423,41998,0.151096,37794,0.158974,35435,0.168730
4,41532,993,0,23160,0.107830,12147,0.147638,45960,0.180733,6872,...,15853,1.050989,5556,1.404736,3121,1.406959,35626,1.407229,29892,1.409434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35424,6887,29641,95,48890,0.430576,46472,1.088444,44799,1.088864,11520,...,32059,1.422880,22834,1.431494,6691,1.437429,25097,1.437967,36620,1.438875
35425,26900,33224,95,23341,0.002074,32061,0.011468,27307,0.011611,24716,...,5545,0.025089,5262,0.025116,46620,0.028374,5535,0.028993,14218,0.029645
35426,37078,33225,95,20149,0.434934,20161,0.560033,11520,1.068619,44799,...,16424,1.435937,48536,1.439812,2108,1.439853,8024,1.440161,5038,1.461538
35427,37442,33546,95,44799,1.064215,46472,1.070818,11520,1.072376,2108,...,27818,1.448396,8024,1.448737,35992,1.449707,5038,1.456211,37078,1.473967
35428,13803,33703,95,30385,0.272842,13609,1.444382,43435,1.453913,46636,...,44799,1.466132,11520,1.466261,44624,1.483599,25487,1.484121,49439,1.524502

In [21]:
#  selec_cols = data_base[['Source_Product_ID_P0']+ [x for x in data_base.columns if 'Closest_' in x]]

In [22]:
data_lng = data_base.drop(['Source_P1_Bucket_ID', 'GMM_Cluster_ID'], axis = 1).melt(id_vars = 'Source_P0_Product_ID')

In [23]:
data_lng.head()

   Source_P0_Product_ID                 variable    value
0                  2343  Closest_1_P0_Product_ID  32364.0
1                 10917  Closest_1_P0_Product_ID  23818.0
2                 49680  Closest_1_P0_Product_ID  31702.0
3                 30699  Closest_1_P0_Product_ID  17680.0
4                 41532  Closest_1_P0_Product_ID  23160.0

In [24]:
data_lng['var_type'] = ['intra_cluster_dist' if 'Distance' in x else 'substitute_id' for x in data_lng.variable]
data_lng['Substitute_idx'] =  data_lng['variable'].str.extract("(\d+)")

In [25]:
data_final = data_lng.pivot(index=['Source_P0_Product_ID', 'Substitute_idx'], columns='var_type', values = 'value').reset_index()

In [26]:
data_final.shape[0], data_lng.shape[0]

(354290, 708580)

In [27]:
data_final.substitute_id = data_final.substitute_id.astype(int)

In [28]:
data_final.columns

Index(['Source_P0_Product_ID', 'Substitute_idx', 'intra_cluster_dist',
       'substitute_id'],
      dtype='object', name='var_type')

In [29]:
data_final.columns.name = None

In [30]:
data_final = data_final.rename({'Source_P0_Product_ID' : 'product_id'}, axis = 1)

In [31]:
data_final

        product_id Substitute_idx  intra_cluster_dist  substitute_id
0                1              1            0.369700          27583
1                1             10            1.193902           8212
2                1              2            0.384469          42849
3                1              3            0.844092          18646
4                1              4            0.887980          12795
...            ...            ...                 ...            ...
354285       49686              5            0.197508          43112
354286       49686              6            0.220167          24107
354287       49686              7            0.223689          19697
354288       49686              8            0.232089           7393
354289       49686              9            0.235269           8231

[354290 rows x 4 columns]

In [115]:
# dummy = data_base[['Source_P0_Product_ID', 'GMM_Cluster_ID']].merge(data_base[['Source_P0_Product_ID', 'GMM_Cluster_ID']], on = 'GMM_Cluster_ID')

In [116]:
# dummy.shape

(17942791, 3)

In [117]:
# dummy['diff'] = abs(dummy.Source_P0_Product_ID_x - dummy.Source_P0_Product_ID_y)

In [80]:
# dummy = dummy[dummy['diff'] != 0]

In [118]:
# data_final = dummy.sort_values('diff', ascending=True).groupby('Source_P0_Product_ID_x').head(10)

In [119]:
# data_final.head()

         Source_P0_Product_ID_x  GMM_Cluster_ID  Source_P0_Product_ID_y  diff
0                          2343               0                    2343     0
8300780                   47135              19                   47135     0
8301639                   19789              19                   19789     0
8302498                   39272              19                   39272     0
8303357                   38697              19                   38697     0

In [120]:
# data_final.columns = ['product_id', 'Substitute_idx', 'substitute_id','intra_cluster_dist']

### Order Data Process

In [4]:
orders_data_train = pd.read_csv('../data/raw/order_products__train.csv')

In [5]:
orders_data_train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [6]:
orders_data = pd.read_csv('../data/raw/orders.csv')

In [7]:
orders_data = orders_data[orders_data.eval_set.isin(['train', 'prior'])]

In [8]:
orders_data.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [9]:
orders_data_prior = pd.read_csv('../data/raw/order_products__prior.csv')

In [10]:
orders_data.eval_set.unique()

array(['prior', 'train'], dtype=object)

In [11]:
orders_data[orders_data.eval_set == 'prior'].order_id.nunique()

3214874

In [12]:
orders_data[orders_data.eval_set == 'train'].order_id.nunique()

131209

In [13]:
orders_data_train.order_id.nunique(),orders_data_prior.order_id.nunique()

(131209, 3214874)

In [14]:
orders_data[orders_data.user_id == 206208]

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
3421019,2227043,206208,prior,1,1,15,NaN
3421020,1959749,206208,prior,2,2,14,8.0
3421021,3392839,206208,prior,3,2,15,7.0
3421022,731227,206208,prior,4,3,15,8.0
3421023,2936891,206208,prior,5,1,10,5.0
3421024,2072319,206208,prior,6,1,18,7.0
3421025,2061009,206208,prior,7,0,20,20.0
3421026,1923981,206208,prior,8,1,10,8.0
3421027,126826,206208,prior,9,5,10,11.0
3421028,2995770,206208,prior,10,3,14,5.0
3421029,1939529,206208,prior,11,2,16,6.0
3421030,922505,206208,prior,12,4,15,16.0
3421031,3097121,206208,prior,13,3,19,6.0
3421032,1569416,206208,prior,14,3,15,7.0
3421033,1949208,206208,prior,15,2,14,6.0
3421034,3049681,206208,prior,16,2,15,7.0
3421035,11859,206208,prior,17,1,13,6.0
3421036,447879,206208,prior,18,3,23,9.0
3421037,2467456,206208,prior,19,4,13,15.0
3421038,842771,206208,prior,20,0,8,10.0
3421039,2471606,206208,prior,21,5,9,5.0
3421040,2922221,206208,prior,22,1,12,3.0
3421041,3128968,206208,prior,23,5,16,4.0
3421042,2573371,206208,prior,24,5,9,7.0
3421043,2804556,206208,prior,25,2,15,11.0
3421044,2079142,206208,prior,26,2,16,0.0
3421045,183408,206208,prior,27,2,14,7.0
3421046,3038194,206208,prior,28,0,17,5.0
3421047,3412250,206208,prior,29,4,18,4.0
3421048,726186,206208,prior,30,0,16,3.0
3421049,2523609,206208,prior,31,4,11,4.0
3421050,756221,206208,prior,32,6,18,9.0
3421051,2254244,206208,prior,33,6,13,7.0
3421052,2017995,206208,prior,34,6,15,7.0
3421053,2789700,206208,prior,35,3,22,4.0
3421054,844592,206208,prior,36,6,15,10.0
3421055,1541132,206208,prior,37,2,12,3.0
3421056,2808240,206208,prior,38,0,15,19.0
3421057,3027766,206208,prior,39,2,14,9.0
3421058,3356245,206208,prior,40,5,9,10.0
3421059,442304,206208,prior,41,2,14,11.0
3421060,2675140,206208,prior,42,1,19,6.0
3421061,167903,206208,prior,43,4,14,3.0
3421062,2393201,206208,prior,44,6,16,2.0
3421063,3292671,206208,prior,45,2,11,3.0
3421064,3059777,206208,prior,46,1,10,13.0
3421065,2239861,206208,prior,47,3,4,9.0
3421066,1285346,206208,prior,48,1,11,5.0
3421067,1882108,206208,prior,49,1,22,7.0

In [15]:
orders_data[orders_data.user_id == 200]

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
2985,380579,200,prior,1,4,10,NaN
2986,1693622,200,prior,2,3,11,6.0
2987,1350231,200,prior,3,2,13,6.0
2988,3317740,200,prior,4,2,14,28.0
2989,2171750,200,prior,5,5,12,17.0
2990,124049,200,prior,6,5,13,21.0
2991,2438149,200,prior,7,2,17,30.0
2992,1025893,200,prior,8,2,19,30.0
2993,363400,200,prior,9,0,18,30.0

In [16]:
orders_data[['user_id', 'order_number']].drop_duplicates().shape,orders_data.shape

((3346083, 2), (3346083, 7))

In [17]:
combined_order_details = pd.concat([orders_data_train,orders_data_prior])

In [18]:
combined_order_details.shape

(33819106, 4)

In [19]:
combined_order_details.order_id.nunique()

3346083

In [20]:
131209 +  3214874

3346083

In [21]:
combined_order_details.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [22]:
combined_order_details.shape,orders_data.shape

((33819106, 4), (3346083, 7))

In [23]:
orders_data.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [24]:
combined_order_details_final = combined_order_details.merge(orders_data, on = 'order_id', how = 'inner')

In [25]:
combined_order_details_final.shape

(33819106, 10)

In [26]:
combined_order_details_final

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,49302,1,1,112108,train,4,4,10,9.0
1,1,11109,2,1,112108,train,4,4,10,9.0
2,1,10246,3,0,112108,train,4,4,10,9.0
3,1,49683,4,0,112108,train,4,4,10,9.0
4,1,43633,5,1,112108,train,4,4,10,9.0
...,...,...,...,...,...,...,...,...,...,...
33819101,3421083,39678,6,1,25247,prior,24,2,6,21.0
33819102,3421083,11352,7,0,25247,prior,24,2,6,21.0
33819103,3421083,4600,8,0,25247,prior,24,2,6,21.0
33819104,3421083,24852,9,1,25247,prior,24,2,6,21.0
33819105,3421083,5020,10,1,25247,prior,24,2,6,21.0

In [27]:
combined_order_details_final.drop_duplicates(subset=['user_id', 'order_number', 'product_id']).shape

(33819106, 10)

In [28]:
import pickle

In [29]:
combined_order_details_final.to_pickle('combined_order_details_final.pkl')

### EDA

In [121]:
order_data_sub = combined_order_details_final[combined_order_details_final.product_id.isin(
data_base[data_base.GMM_Cluster_ID == 29].Source_P0_Product_ID.unique())]

In [122]:
order_data_sub.shape

(600309, 10)

In [123]:
candidates_data_sub =  data_final[data_final.product_id.isin(
data_base[data_base.GMM_Cluster_ID == 29].Source_P0_Product_ID.unique())]

In [124]:
candidates_data_sub.shape

(5440, 4)

In [125]:
df_candidates = order_data_sub.merge(
    candidates_data_sub,
    on="product_id",
    how="inner"
)

In [126]:
df_candidates.shape

(6003090, 13)

In [127]:
df_candidates.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,Substitute_idx,substitute_id,intra_cluster_dist
0,170,5077,5,1,182389,train,7,0,13,14.0,29,5077,0
1,170,5077,5,1,182389,train,7,0,13,14.0,29,5037,40
2,170,5077,5,1,182389,train,7,0,13,14.0,29,4939,138
3,170,5077,5,1,182389,train,7,0,13,14.0,29,5288,211
4,170,5077,5,1,182389,train,7,0,13,14.0,29,5381,304

In [128]:
user_sub_purchases = order_data_sub.rename(
    columns={"product_id": "substitute_id",
             "order_number": "sub_order_number"}
)

In [129]:
candidates_data_sub['substitute_id'].isin(order_data_sub['product_id']).mean()

1.0

In [130]:
df_join = df_candidates.merge(
    user_sub_purchases,
    on=["user_id", "substitute_id"],
    how="left"
)

In [131]:
df_join.head()

,order_id_x,product_id,add_to_cart_order_x,reordered_x,user_id,eval_set_x,order_number,order_dow_x,order_hour_of_day_x,days_since_prior_order_x,...,substitute_id,intra_cluster_dist,order_id_y,add_to_cart_order_y,reordered_y,eval_set_y,sub_order_number,order_dow_y,order_hour_of_day_y,days_since_prior_order_y
0,170,5077,5,1,182389,train,7,0,13,14.0,...,5077,0,170.0,5.0,1.0,train,7.0,0.0,13.0,14.0
1,170,5077,5,1,182389,train,7,0,13,14.0,...,5077,0,2763701.0,9.0,0.0,prior,6.0,0.0,10.0,20.0
2,170,5077,5,1,182389,train,7,0,13,14.0,...,5037,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,170,5077,5,1,182389,train,7,0,13,14.0,...,4939,138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,170,5077,5,1,182389,train,7,0,13,14.0,...,5288,211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
df_join.columns

Index(['order_id_x', 'product_id', 'add_to_cart_order_x', 'reordered_x',
       'user_id', 'eval_set_x', 'order_number', 'order_dow_x',
       'order_hour_of_day_x', 'days_since_prior_order_x', 'Substitute_idx',
       'substitute_id', 'intra_cluster_dist', 'order_id_y',
       'add_to_cart_order_y', 'reordered_y', 'eval_set_y', 'sub_order_number',
       'order_dow_y', 'order_hour_of_day_y', 'days_since_prior_order_y'],
      dtype='object')

In [133]:
df_join['subss'] = df_join.days_since_prior_order_y.isna()

In [134]:
df_join.shape

(11225990, 22)

In [135]:
df_join.subss.value_counts(dropna=False, normalize = True)

subss
False    0.504197
True     0.495803
Name: proportion, dtype: float64

In [141]:
# df_join['future_purchase'] = (
#     df_join['sub_order_number'] > df_join['order_number']
# )

K = 10

df_join['future_purchase'] = (
    (df_join['sub_order_number'] > df_join['order_number']) &
    (df_join['sub_order_number'] <= df_join['order_number'] + K)
)

In [142]:
labels = (
    df_join.groupby(
        ["user_id", "product_id", "substitute_id", "order_number"]
    )['future_purchase']
    .max()                 
    .reset_index(name='label')
)

In [143]:
final_df = df_candidates.merge(
    labels,
    on=["user_id", "product_id", "substitute_id", "order_number"],
    how="left"
)

final_df['label'] = final_df['label'].fillna(0).astype(int)

In [144]:
final_df.shape

(6003090, 14)

In [145]:
final_df.label.value_counts(dropna=False, normalize = True)

label
0    0.934743
1    0.065257
Name: proportion, dtype: float64

## main

In [41]:
combined_order_details_final.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered', 'user_id',
       'eval_set', 'order_number', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order'],
      dtype='object')

In [42]:
# del combined_order_details, data_lng, dummy, orders_data, orders_data_prior, orders_data_train
del combined_order_details, data_lng, orders_data, orders_data_prior, orders_data_train

In [50]:
# import pandas as pd
# import os

# def append_to_pickle(new_df, path="data.pkl"):
#     if os.path.exists(path):
#         old_df = pd.read_pickle(path)
#         combined = pd.concat([old_df, new_df], ignore_index=True)
#     else:
#         combined = new_df
#     combined.to_pickle(path)

In [43]:

K = 3
dictz = {}
for cluster in data_base.GMM_Cluster_ID.unique():
    print(cluster)
    order_data_sub = combined_order_details_final[combined_order_details_final.product_id.isin(
    data_base[data_base.GMM_Cluster_ID == cluster].Source_P0_Product_ID.unique())]
    
    candidates_data_sub =  data_final[data_final.product_id.isin(
    data_base[data_base.GMM_Cluster_ID == cluster].Source_P0_Product_ID.unique())]

    df_candidates = order_data_sub.merge(
        candidates_data_sub,
        on="product_id",
        how="inner"
    )

    user_sub_purchases = order_data_sub[['product_id', 'order_number', 'order_id', 'user_id' ]].rename(
        columns={"product_id": "substitute_id",
                 "order_number": "sub_order_number"}
    )

    df_join = df_candidates.merge(
        user_sub_purchases,
        on=["user_id", "substitute_id"],
        how="left"
    )

    df_join['future_purchase'] = (
        (df_join['sub_order_number'] > df_join['order_number']) &
        (df_join['sub_order_number'] <= df_join['order_number'] + K)
    )

    labels = (
        df_join.groupby(
            ["user_id", "product_id", "substitute_id", "order_number"]
        )['future_purchase']
        .max()                 
        .reset_index(name='label')
    )

    final_df = df_candidates.merge(
        labels,
        on=["user_id", "product_id", "substitute_id", "order_number"],
        how="left"
    )

    final_df['label'] = final_df['label'].fillna(0).astype(int)
    dictz[cluster] = final_df[['order_id', 'product_id', 'user_id', 'substitute_id', 'label']]

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95

In [44]:
for cluster in data_base.GMM_Cluster_ID.unique():
    print(dictz[cluster].shape)

(1031900, 5)
(3591420, 5)
(2281020, 5)
(3963160, 5)
(2399310, 5)
(14987680, 5)
(18285630, 5)
(4651610, 5)
(3011560, 5)
(2076710, 5)
(124800, 5)
(1349220, 5)
(2279550, 5)
(5501300, 5)
(7504680, 5)
(8858890, 5)
(2204730, 5)
(3455360, 5)
(1430370, 5)
(2521300, 5)
(5890900, 5)
(1446500, 5)
(3690690, 5)
(3179050, 5)
(5162690, 5)
(4738610, 5)
(1727050, 5)
(1486570, 5)
(651710, 5)
(6003090, 5)
(996790, 5)
(4111520, 5)
(3596760, 5)
(1751030, 5)
(3375810, 5)
(5173380, 5)
(1552510, 5)
(34203430, 5)
(1082340, 5)
(1993580, 5)
(37442030, 5)
(3093500, 5)
(904390, 5)
(1698080, 5)
(8736160, 5)
(2557740, 5)
(3100820, 5)
(3893140, 5)
(1170820, 5)
(332990, 5)
(781740, 5)
(2819440, 5)
(695810, 5)
(6627370, 5)
(350460, 5)
(1138790, 5)
(3705890, 5)
(5438850, 5)
(1630720, 5)
(2419150, 5)
(1945120, 5)
(1055950, 5)
(1056490, 5)
(9216460, 5)
(746150, 5)
(399850, 5)
(428090, 5)
(353400, 5)
(1169330, 5)
(3274120, 5)
(699920, 5)
(2537830, 5)
(820680, 5)
(262320, 5)
(118790, 5)
(2647400, 5)
(211590, 5)
(368130, 5)
(996380, 5)
(3202570, 5)
(733860, 5)
(302680, 5)
(227060, 5)
(163780, 5)
(117960, 5)
(196700, 5)
(740300, 5)
(746270, 5)
(1213610, 5)
(1310560, 5)
(680350, 5)
(1040630, 5)
(415310, 5)
(1347080, 5)
(587120, 5)
(4712890, 5)

In [54]:
# with open('output.pkl', 'wb') as f:
#     pickle.dump(dictz, f)

In [45]:
final = pd.concat(dictz)

In [46]:
del dictz

In [47]:
final.to_pickle('supervised_data.pkl')

In [50]:
final.label.value_counts(normalize=True)

label
0    0.996447
1    0.003553
Name: proportion, dtype: float64

In [49]:
final = final.reset_index()

### Feature Engineering

In [30]:
import pickle
import pandas as pd

In [31]:
sl_data = pd.read_pickle('supervised_data.pkl')

In [32]:
sl_data.label.value_counts(normalize=False)

label
0    316779156
1      1129674
Name: count, dtype: int64

In [33]:
sl_data.label.value_counts(normalize=True)

label
0    0.996447
1    0.003553
Name: proportion, dtype: float64

In [34]:
label1 = sl_data[sl_data.label == 1]

In [35]:
label0 = sl_data[sl_data.label == 0].sample(frac= .03, random_state = 42)

In [36]:
sl_final_base = pd.concat([label1, label0])

In [37]:
sl_final_base = sl_final_base.reset_index()

In [38]:
sl_final_base.shape

(10633049, 7)

In [39]:
del sl_data

In [40]:
sl_final_base = sl_final_base.drop(['level_1'], axis = 1).rename({'level_0': 'GMM_cluster_id'}, axis = 1)

In [41]:
sl_final_base.to_pickle('sl_final_base.pkl')

In [ ]:
#################################################################################

In [1]:
import pickle
import pandas as pd

In [2]:
combined_order_details_final = pd.read_pickle('combined_order_details_final.pkl')

In [4]:
sl_final_base = pd.read_pickle('sl_final_base.pkl')

In [5]:
price_data = pd.read_csv('../data/raw/products_with_prices_ingredients_nutrition.csv')

ing_data = pd.read_csv('../data/processed/product_data_with_ingredient_mapped.csv')

In [6]:
sl_final_base

          GMM_cluster_id  order_id  product_id  user_id  substitute_id  label
0                      0      1506       40350     6344           7228      1
1                      0      2089       44663    26938          45671      1
2                      0      2089       19025    26938          45671      1
3                      0      2089       19025    26938          44663      1
4                      0     16086       16966    14151          10916      1
...                  ...       ...         ...      ...            ...    ...
10633044              40   1413787       47209    58576          25715      0
10633045              52   3405365        5415    58491          10515      0
10633046              40   3068634        5876   116060          40235      0
10633047              57   2245606        1158   170857          22046      0
10633048              44   1796951       44632    51704          11194      0

[10633049 rows x 6 columns]

In [7]:
sl_final_base[['product_id','user_id','substitute_id', 'order_id']].drop_duplicates().shape

(10633049, 4)

In [8]:
price_data = price_data[['product_id','product_name', 'Price (USD)' ]].rename({'Price (USD)' : 'price_usd'}, axis = 1)

In [9]:
price_data.head()

   product_id                                       product_name  price_usd
0           1                         Chocolate Sandwich Cookies       4.49
1           2                                   All-Seasons Salt       5.79
2           3               Robust Golden Unsweetened Oolong Tea       4.49
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...       6.79
4           5                          Green Chile Anytime Sauce       4.49

In [10]:
ing_data = ing_data[['product_id', 'product_name_x',  'product_mapper', 'department', 'aisle', 'brands', 'final_category', 'ingredients_text', 'serving_quantity', 
         'nutriments_energy-kcal_100g', 'nutriments_fat_100g', 'nutriments_sodium_100g', 'nutriments_carbohydrates_100g',
 'nutriments_salt_100g', 'nutriments_proteins_100g','nutriments_saturated-fat_100g', 'nutriments_sugars_100g']]

In [11]:
ing_data = ing_data.rename({'product_name_x' : 'product_name', 'product_mapper' : 'product_name_cleaned'}, axis = 1)

In [12]:
ing_data.head()

,product_id,product_name,product_name_cleaned,department,aisle,brands,final_category,ingredients_text,serving_quantity,nutriments_energy-kcal_100g,nutriments_fat_100g,nutriments_sodium_100g,nutriments_carbohydrates_100g,nutriments_salt_100g,nutriments_proteins_100g,nutriments_saturated-fat_100g,nutriments_sugars_100g
0,1,Chocolate Sandwich Cookies,chocolate sandwich cookies,snacks,cookies cakes,"Shur Fine, Topco Associates Inc.",biscuits,"Enriched flour (wheat flour, niacin, reduced i...",34.0,471.00000,20.590000,0.471000,70.589996,1.177500,5.880000,5.88,38.240002
1,2,All-Seasons Salt,all seasons salt,pantry,spices seasonings,"Simply Organic, Frontier",groceries,"Sea salt, organic paprika, organic cane sugar,...",1.1,0.00000,0.000000,23.636000,0.000000,59.090000,0.000000,NaN,NaN
2,3,Robust Golden Unsweetened Oolong Tea,robust golden unsweetened oolong tea,beverages,tea,"Ito En (North America) Inc., Itoen",oolong teas,"Purified water, oolong tea, ascorbic acid (vit...",240.0,0.00000,0.000000,0.011000,0.000000,0.027500,0.000000,0.00,0.000000
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,smart ones classic favorites mini rigatoni vod...,frozen,frozen meals,Smart Ones,frozen foods,"Cooked enriched macaroni product (water, enric...",255.0,125.00000,1.960000,0.204000,20.000000,0.510000,4.710000,0.98,2.350000
4,5,Green Chile Anytime Sauce,green chile anytime sauce,pantry,marinades meat preparation,Nanita's Finest,sauces,"WATER, TOMATOES (TOMATOES, TOMATO JUICE, SALT,...",NaN,52.63158,3.508772,0.385965,5.263158,0.964912,1.754386,0.00,1.754386

In [13]:
combined_order_details_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33819106 entries, 0 to 33819105
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   product_id              int64
 2   add_to_cart_order       int64
 3   reordered               int64
 4   user_id                 int64
 5   eval_set                object
 6   order_number            int64
 7   order_dow               int64
 8   order_hour_of_day       int64
 9   days_since_prior_order  float64
dtypes: float64(1), int64(8), object(1)
memory usage: 2.5+ GB

In [14]:
price_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49688 entries, 0 to 49687
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    49688 non-null  int64
 1   product_name  49688 non-null  object
 2   price_usd     49688 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ MB

In [15]:
sl_final_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10633049 entries, 0 to 10633048
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   GMM_cluster_id  int64
 1   order_id        int64
 2   product_id      int64
 3   user_id         int64
 4   substitute_id   int64
 5   label           int64
dtypes: int64(6)
memory usage: 486.7 MB

In [16]:
ing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35430 entries, 0 to 35429
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_id                     35430 non-null  int64
 1   product_name                   35430 non-null  object
 2   product_name_cleaned           35430 non-null  object
 3   department                     35430 non-null  object
 4   aisle                          35430 non-null  object
 5   brands                         25771 non-null  object
 6   final_category                 30156 non-null  object
 7   ingredients_text               35430 non-null  object
 8   serving_quantity               31463 non-null  float64
 9   nutriments_energy-kcal_100g    32445 non-null  float64
 10  nutriments_fat_100g            32449 non-null  float64
 11  nutriments_sodium_100g         31812 non-null  float64
 12  nutriments_carbohydrates_100g  32454 non-null  float64
 13  nutriments_salt_100g           31812 non-null  float64
 14  nutriments_proteins_100g       32416 non-null  float64
 15  nutriments_saturated-fat_100g  28355 non-null  float64
 16  nutriments_sugars_100g         30815 non-null  float64
dtypes: float64(9), int64(1), object(7)
memory usage: 4.6+ MB

In [ ]:
# import pandas as pd
# import numpy as np

# ###############################################################################
# # 0. START FROM YOUR EXISTING DATAFRAMES
# # sl_final_base: product_id, substitute_id, user_id, order_id, GMM_cluster_id, label
# # ing_data:      product-level metadata (ingredients + nutrition)
# # price_data:    product_id, price_usd
# # combined_order_details_final: full Instacart orders
# ###############################################################################

# # Make copies to be safe
# sl = sl_final_base.copy()
# ing = ing_data.copy()
# price = price_data.copy()
# orders = combined_order_details_final.copy()

# ###############################################################################
# # 1. HANDLE NA VALUES IN PRODUCT METADATA / PRICE
# ###############################################################################

# # 1.1 merge ing_data and price_data into a single product-level table
# prod_meta = ing.merge(price[['product_id', 'price_usd']], on='product_id', how='left')

# # 1.2 fill categorical NaNs
# for col in ['department', 'aisle', 'brands', 'final_category', 'product_name', 'product_name_cleaned']:
#     if col in prod_meta.columns:
#         prod_meta[col] = prod_meta[col].fillna('Unknown')

# # 1.3 fill numeric NaNs in nutrition/serving/price with medians
# numeric_cols = [
#     'serving_quantity',
#     'nutriments_energy-kcal_100g',
#     'nutriments_fat_100g',
#     'nutriments_sodium_100g',
#     'nutriments_carbohydrates_100g',
#     'nutriments_salt_100g',
#     'nutriments_proteins_100g',
#     'nutriments_saturated-fat_100g',
#     'nutriments_sugars_100g',
#     'price_usd'
# ]

# for col in numeric_cols:
#     if col in prod_meta.columns:
#         median_val = prod_meta[col].median()
#         prod_meta[col] = prod_meta[col].fillna(median_val)

# print('step 1 done')
# ###############################################################################
# # 2. BUILD GLOBAL PRODUCT-LEVEL STATS FROM ORDERS
# ###############################################################################

# # 2.1 product popularity (global count)
# prod_pop = (
#     orders
#     .groupby('product_id')
#     .size()
#     .rename('product_popularity')
#     .reset_index()
# )

# # 2.2 global reorder probability per product
# prod_reorder = (
#     orders
#     .groupby('product_id')['reordered']
#     .mean()
#     .rename('global_reorder_prob')
#     .reset_index()
# )

# prod_stats = (
#     prod_pop
#     .merge(prod_reorder, on='product_id', how='left')
# )

# print('step 2 done')

# ###############################################################################
# # 3. USER-LEVEL STATS
# ###############################################################################

# # 3.1 user_total_orders (max order_number)
# user_total_orders = (
#     orders
#     .groupby('user_id')['order_number']
#     .max()
#     .rename('user_total_orders')
#     .reset_index()
# )

# # 3.2 user_reorder_rate (mean reordered across all products)
# user_reorder_rate = (
#     orders
#     .groupby('user_id')['reordered']
#     .mean()
#     .rename('user_reorder_rate')
#     .reset_index()
# )

# user_stats = (
#     user_total_orders
#     .merge(user_reorder_rate, on='user_id', how='left')
# )


# print('step 3 done')


# ###############################################################################
# # 4. ADD ORDER-LEVEL CONTEXT TO sl (order_number, days_since_prior_order, etc.)
# ###############################################################################

# orders_small = orders[['order_id', 'user_id', 'order_number', 'order_dow',
#                        'order_hour_of_day', 'days_since_prior_order']]

# sl = sl.merge(orders_small, on=['order_id', 'user_id'], how='left')

# # Handle Na for days_since_prior_order (first order often NaN -> fill with 0)
# sl['days_since_prior_order'] = sl['days_since_prior_order'].fillna(0)


# print('step 4 done')


# ###############################################################################
# # 5. USER-PRODUCT AND USER-SUBSTITUTE HISTORICAL COUNTS (before this order)
# ###############################################################################

# # 5.1 historical counts of product per user (up to each order)
# # sort for stable cumcount
# orders_up = orders[['user_id', 'product_id', 'order_number']].sort_values(
#     ['user_id', 'product_id', 'order_number']
# )

# # cumulative count - 1 gives "times bought before this order"
# orders_up['user_product_frequency_before'] = (
#     orders_up.groupby(['user_id', 'product_id']).cumcount()
# )

# # same for substitute: reuse with different col name
# orders_us = orders[['user_id', 'product_id', 'order_number']].sort_values(
#     ['user_id', 'product_id', 'order_number']
# )
# orders_us['user_substitute_frequency_before'] = (
#     orders_us.groupby(['user_id', 'product_id']).cumcount()
# )

# # 5.2 merge product frequency onto sl
# sl = sl.merge(
#     orders_up,
#     on=['user_id', 'product_id', 'order_number'],
#     how='left'
# )

# # 5.3 merge substitute frequency onto sl
# sl = sl.merge(
#     orders_us,
#     left_on=['user_id', 'substitute_id', 'order_number'],
#     right_on=['user_id', 'product_id', 'order_number'],
#     how='left',
#     suffixes=('', '_drop')
# )

# # drop the extra product_id from substitute merge
# sl = sl.drop(columns=['product_id_drop'])

# # fill NaNs for frequencies with 0 (no past purchases)
# sl['user_product_frequency_before'] = sl['user_product_frequency_before'].fillna(0).astype(int)
# sl['user_substitute_frequency_before'] = sl['user_substitute_frequency_before'].fillna(0).astype(int)

# # binary flag: has user ever bought substitute before this order?
# sl['user_substitute_past_purchases'] = (sl['user_substitute_frequency_before'] > 0).astype(int)


# print('step 5 done')


# ###############################################################################
# # 6. MERGE PRODUCT-LEVEL METADATA FOR PRODUCT AND SUBSTITUTE
# ###############################################################################

# # 6.1 attach product metadata for original product
# prod_meta_prod = prod_meta.add_prefix('prod_')
# prod_meta_prod = prod_meta_prod.rename(columns={'prod_product_id': 'product_id'})

# sl = sl.merge(prod_meta_prod, on='product_id', how='left')

# # 6.2 attach product metadata for substitute
# prod_meta_sub = prod_meta.add_prefix('sub_')
# prod_meta_sub = prod_meta_sub.rename(columns={'sub_product_id': 'substitute_id'})

# sl = sl.merge(prod_meta_sub, on='substitute_id', how='left')



# print('step 6 done')


# ###############################################################################
# # 7. MERGE PRODUCT-LEVEL STATS (POPULARITY / REORDER PROB)
# ###############################################################################

# # 7.1 for original product
# prod_stats_prod = prod_stats.add_prefix('prod_')
# prod_stats_prod = prod_stats_prod.rename(columns={'prod_product_id': 'product_id'})

# sl = sl.merge(prod_stats_prod, on='product_id', how='left')

# # 7.2 for substitute
# prod_stats_sub = prod_stats.add_prefix('sub_')
# prod_stats_sub = prod_stats_sub.rename(columns={'sub_product_id': 'substitute_id'})

# sl = sl.merge(prod_stats_sub, on='substitute_id', how='left')



# print('step 7 done')


# ###############################################################################
# # 8. BASIC RELATIONSHIP FEATURES BETWEEN PRODUCT AND SUBSTITUTE
# ###############################################################################

# # same_department / same_aisle / same_brand (after filling Unknown)
# sl['same_department'] = (sl['prod_department'] == sl['sub_department']).astype(int)
# sl['same_aisle'] = (sl['prod_aisle'] == sl['sub_aisle']).astype(int)
# sl['same_brand'] = (sl['prod_brands'] == sl['sub_brands']).astype(int)

# # price features
# sl['prod_price_usd'] = sl['prod_price_usd'].fillna(prod_meta['price_usd'].median())
# sl['sub_price_usd'] = sl['sub_price_usd'].fillna(prod_meta['price_usd'].median())

# sl['price_diff'] = sl['sub_price_usd'] - sl['prod_price_usd']
# sl['price_ratio'] = np.where(
#     sl['prod_price_usd'] > 0,
#     sl['sub_price_usd'] / sl['prod_price_usd'],
#     1.0
# )


# print('step 8 done')

step 1 done
step 2 done
step 3 done
step 4 done

In [ ]:

# ###############################################################################
# # 9. SIMPLE GLOBAL CO-OCCURRENCE SCORE (PRODUCT & SUBSTITUTE IN SAME ORDER)
# #    Note: This can be expensive; consider sampling or pre-aggregation if too slow.
# ###############################################################################

# # get unique pairs we care about
# pairs = sl[['product_id', 'substitute_id']].drop_duplicates()

# # get orders with relevant products only
# orders_small2 = orders[['order_id', 'product_id']]

# # merge to find orders containing product
# prod_orders = orders_small2.merge(
#     pairs[['product_id']].drop_duplicates(),
#     on='product_id',
#     how='inner'
# )

# # merge to find orders containing substitute
# sub_orders = orders_small2.merge(
#     pairs[['substitute_id']].drop_duplicates(),
#     left_on='product_id',
#     right_on='substitute_id',
#     how='inner'
# )

# # rename columns to prepare self-join
# prod_orders = prod_orders.rename(columns={'product_id': 'product_id_p'})
# sub_orders = sub_orders.rename(columns={'product_id': 'product_id_s'})

# # self-join on order_id to find baskets where both appear
# cooc = prod_orders.merge(
#     sub_orders,
#     on='order_id',
#     how='inner'
# )

# # keep only pairs where product_id_p == product_id and product_id_s == substitute_id
# cooc = cooc[['product_id_p', 'substitute_id', 'order_id']].drop_duplicates()

# cooc_counts = (
#     cooc
#     .groupby(['product_id_p', 'substitute_id'])
#     .size()
#     .rename('co_occurrence_score_global')
#     .reset_index()
#     .rename(columns={'product_id_p': 'product_id'})
# )

# # merge onto sl
# sl = sl.merge(
#     cooc_counts,
#     on=['product_id', 'substitute_id'],
#     how='left'
# )

# sl['co_occurrence_score_global'] = sl['co_occurrence_score_global'].fillna(0).astype(int)

# ###############################################################################
# # 10. MERGE USER-LEVEL STATS
# ###############################################################################

# sl = sl.merge(user_stats, on='user_id', how='left')

# # handle any remaining NaNs in user stats
# sl['user_total_orders'] = sl['user_total_orders'].fillna(0).astype(int)
# sl['user_reorder_rate'] = sl['user_reorder_rate'].fillna(0.0)

# ###############################################################################
# # 11. SELECT FINAL MODELING COLUMNS
# ###############################################################################

# feature_cols = [
#     # product-level meta / stats
#     'prod_price_usd',
#     'sub_price_usd',
#     'price_diff',
#     'price_ratio',
#     'prod_product_popularity',
#     'sub_product_popularity',
#     'prod_global_reorder_prob',
#     'sub_global_reorder_prob',
#     'same_department',
#     'same_aisle',
#     'same_brand',

#     # user-level
#     'user_total_orders',
#     'user_reorder_rate',

#     # user-item interaction
#     'user_product_frequency_before',
#     'user_substitute_frequency_before',
#     'user_substitute_past_purchases',

#     # order-level / sequence
#     'order_number',
#     'order_dow',
#     'order_hour_of_day',
#     'days_since_prior_order',

#     # co-occurrence
#     'co_occurrence_score_global',
# ]

# target_col = 'label'

# id_cols = ['user_id', 'order_id', 'product_id', 'substitute_id']

# sl_final_for_model = sl[id_cols + feature_cols + [target_col]].copy()

# ###############################################################################
# # sl_final_for_model is now ready for modeling
# ###############################################################################

# print(sl_final_for_model.head())
# print(sl_final_for_model.info())

In [18]:
# import pandas as pd
# import numpy as np

# # ------------------------------------------------------------------------------
# # sl_final_base: product_id, substitute_id, user_id, order_id, GMM_cluster_id, label
# # ing_data:      product_id-level metadata (ingredients + nutrition)
# # price_data:    product_id, product_name, price_usd
# # combined_order_details_final: full Instacart orders
# # ------------------------------------------------------------------------------

# sl_base = sl_final_base.copy()
# ing = ing_data.copy()
# price = price_data.copy()
# orders = combined_order_details_final.copy()

# print("Starting preprocessing...")

# # ------------------------------------------------------------------------------
# # 1. GLOBAL PRODUCT-LEVEL METADATA (ing + price) WITH NA HANDLING
# # ------------------------------------------------------------------------------

# print("Step 1: Building global product metadata...")

# prod_meta = ing.merge(price[['product_id', 'price_usd']], on='product_id', how='left')

# cat_cols = [
#     'product_name', 'product_name_cleaned', 'department', 'aisle',
#     'brands', 'final_category', 'ingredients_text'
# ]
# for col in cat_cols:
#     if col in prod_meta.columns:
#         prod_meta[col] = prod_meta[col].fillna('Unknown')

# num_cols_meta = [
#     'serving_quantity',
#     'nutriments_energy-kcal_100g',
#     'nutriments_fat_100g',
#     'nutriments_sodium_100g',
#     'nutriments_carbohydrates_100g',
#     'nutriments_salt_100g',
#     'nutriments_proteins_100g',
#     'nutriments_saturated-fat_100g',
#     'nutriments_sugars_100g',
#     'price_usd'
# ]
# for col in num_cols_meta:
#     if col in prod_meta.columns:
#         median_val = prod_meta[col].median()
#         prod_meta[col] = prod_meta[col].fillna(median_val)

# global_price_median = prod_meta['price_usd'].median()
# global_serving_median = prod_meta['serving_quantity'].median()

# print("  Global product metadata ready.")

# # ------------------------------------------------------------------------------
# # 2. GLOBAL PRODUCT-LEVEL STATS FROM ORDERS (POPULARITY, REORDER PROB)
# # ------------------------------------------------------------------------------

# print("Step 2: Computing global product popularity and reorder stats...")

# prod_pop = (
#     orders
#     .groupby('product_id')
#     .size()
#     .rename('product_popularity')
#     .reset_index()
# )

# prod_reorder = (
#     orders
#     .groupby('product_id')['reordered']
#     .mean()
#     .rename('global_reorder_prob')
#     .reset_index()
# )

# prod_stats = prod_pop.merge(prod_reorder, on='product_id', how='left')

# print("  Global product stats ready.")

# # ------------------------------------------------------------------------------
# # 3. GLOBAL USER-LEVEL STATS
# # ------------------------------------------------------------------------------

# print("Step 3: Computing global user stats...")

# user_total_orders = (
#     orders
#     .groupby('user_id')['order_number']
#     .max()
#     .rename('user_total_orders')
#     .reset_index()
# )

# user_reorder_rate = (
#     orders
#     .groupby('user_id')['reordered']
#     .mean()
#     .rename('user_reorder_rate')
#     .reset_index()
# )

# user_avg_days = (
#     orders
#     .groupby('user_id')['days_since_prior_order']
#     .mean()
#     .rename('user_avg_days_between_orders')
#     .reset_index()
# )

# user_stats = (
#     user_total_orders
#     .merge(user_reorder_rate, on='user_id', how='left')
#     .merge(user_avg_days, on='user_id', how='left')
# )

# user_stats['user_reorder_rate'] = user_stats['user_reorder_rate'].fillna(0.0)
# user_stats['user_avg_days_between_orders'] = user_stats['user_avg_days_between_orders'].fillna(0.0)

# print("  Global user stats ready.")

# # ------------------------------------------------------------------------------
# # 4. GLOBAL ORDER-LEVEL TABLES FOR MERGES
# # ------------------------------------------------------------------------------

# print("Step 4: Preparing global order tables...")

# orders_small = orders[['order_id', 'user_id', 'order_number', 'order_dow',
#                        'order_hour_of_day', 'days_since_prior_order']]

# # user-product historical counts
# orders_up_prod = (
#     orders[['user_id', 'product_id', 'order_number']]
#     .sort_values(['user_id', 'product_id', 'order_number'])
# )
# orders_up_prod['user_product_frequency_before'] = (
#     orders_up_prod
#     .groupby(['user_id', 'product_id'])
#     .cumcount()
# )

# # user-substitute historical counts (treat substitute_id as product_id)
# orders_up_sub = (
#     orders[['user_id', 'product_id', 'order_number']]
#     .rename(columns={'product_id': 'substitute_id'})
#     .sort_values(['user_id', 'substitute_id', 'order_number'])
# )
# orders_up_sub['user_substitute_frequency_before'] = (
#     orders_up_sub
#     .groupby(['user_id', 'substitute_id'])
#     .cumcount()
# )

# print("  Global order tables ready.")

# # ------------------------------------------------------------------------------
# # 5. LOOP OVER GMM CLUSTERS
# # ------------------------------------------------------------------------------

# cluster_ids = sorted(sl_base['GMM_cluster_id'].unique())
# print(f"Step 5: Processing {len(cluster_ids)} GMM clusters in a loop...")

# cluster_results = []

# for cid in cluster_ids:
#     print(f"\n=== Processing GMM_cluster_id = {cid} ===")

#     # 5.1 Filter sl_base for this cluster
#     sl = sl_base[sl_base['GMM_cluster_id'] == cid].copy()
#     print(f"  sl_cluster initial shape: {sl.shape}")

#     # 5.2 Merge order-level context
#     print("  Merging order-level context (orders_small)...")
#     sl = sl.merge(orders_small, on=['order_id', 'user_id'], how='left')
#     print(f"    After merge orders_small: {sl.shape}")

#     sl['days_since_prior_order'] = sl['days_since_prior_order'].fillna(0.0)

#     # 5.3 Merge user-product frequency before
#     print("  Merging user-product historical frequency...")
#     sl = sl.merge(
#         orders_up_prod,
#         on=['user_id', 'product_id', 'order_number'],
#         how='left'
#     )
#     print(f"    After merge user-product freq: {sl.shape}")

#     # 5.4 Merge user-substitute frequency before
#     print("  Merging user-substitute historical frequency...")
#     sl = sl.merge(
#         orders_up_sub,
#         on=['user_id', 'substitute_id', 'order_number'],
#         how='left'
#     )
#     print(f"    After merge user-substitute freq: {sl.shape}")

#     sl['user_product_frequency_before'] = sl['user_product_frequency_before'].fillna(0).astype(int)
#     sl['user_substitute_frequency_before'] = sl['user_substitute_frequency_before'].fillna(0).astype(int)
#     sl['user_substitute_past_purchases'] = (sl['user_substitute_frequency_before'] > 0).astype(int)

#     # 5.5 Filter prod_meta and prod_stats to only products in this cluster
#     print("  Preparing cluster-specific product metadata and stats...")
#     prod_ids_in_cluster = pd.unique(
#         pd.concat([sl['product_id'], sl['substitute_id']], ignore_index=True)
#     )

#     prod_meta_cluster = prod_meta[prod_meta['product_id'].isin(prod_ids_in_cluster)].copy()
#     prod_stats_cluster = prod_stats[prod_stats['product_id'].isin(prod_ids_in_cluster)].copy()

#     # 5.6 Attach product metadata for product and substitute
#     print("  Merging product metadata for original products...")
#     prod_meta_prod = prod_meta_cluster.add_prefix('prod_')
#     prod_meta_prod = prod_meta_prod.rename(columns={'prod_product_id': 'product_id'})
#     sl = sl.merge(prod_meta_prod, on='product_id', how='left')
#     print(f"    After merge prod_meta_prod: {sl.shape}")

#     print("  Merging product metadata for substitutes...")
#     prod_meta_sub = prod_meta_cluster.add_prefix('sub_')
#     prod_meta_sub = prod_meta_sub.rename(columns={'sub_product_id': 'substitute_id'})
#     sl = sl.merge(prod_meta_sub, on='substitute_id', how='left')
#     print(f"    After merge prod_meta_sub: {sl.shape}")

#     # 5.7 Attach product stats for product and substitute
#     print("  Merging product stats for original products...")
#     prod_stats_prod = prod_stats_cluster.add_prefix('prod_')
#     prod_stats_prod = prod_stats_prod.rename(columns={'prod_product_id': 'product_id'})
#     sl = sl.merge(prod_stats_prod, on='product_id', how='left')
#     print(f"    After merge prod_stats_prod: {sl.shape}")

#     print("  Merging product stats for substitutes...")
#     prod_stats_sub = prod_stats_cluster.add_prefix('sub_')
#     prod_stats_sub = prod_stats_sub.rename(columns={'sub_product_id': 'substitute_id'})
#     sl = sl.merge(prod_stats_sub, on='substitute_id', how='left')
#     print(f"    After merge prod_stats_sub: {sl.shape}")

#     # 5.8 Relationship features between product and substitute
#     print("  Creating relationship features (same dept/aisle/brand/category, price, serving, nutrition)...")

#     sl['same_department'] = (sl['prod_department'] == sl['sub_department']).astype(int)
#     sl['same_aisle'] = (sl['prod_aisle'] == sl['sub_aisle']).astype(int)
#     sl['same_brand'] = (sl['prod_brands'] == sl['sub_brands']).astype(int)
#     sl['same_final_category'] = (sl['prod_final_category'] == sl['sub_final_category']).astype(int)

#     sl['prod_price_usd'] = sl['prod_price_usd'].fillna(global_price_median)
#     sl['sub_price_usd'] = sl['sub_price_usd'].fillna(global_price_median)
#     sl['price_diff'] = sl['sub_price_usd'] - sl['prod_price_usd']
#     sl['price_ratio'] = np.where(
#         sl['prod_price_usd'] > 0,
#         sl['sub_price_usd'] / sl['prod_price_usd'],
#         1.0
#     )

#     sl['prod_serving_quantity'] = sl['prod_serving_quantity'].fillna(global_serving_median)
#     sl['sub_serving_quantity'] = sl['sub_serving_quantity'].fillna(global_serving_median)
#     sl['serving_quantity_diff'] = sl['sub_serving_quantity'] - sl['prod_serving_quantity']
#     sl['serving_quantity_ratio'] = np.where(
#         sl['prod_serving_quantity'] > 0,
#         sl['sub_serving_quantity'] / sl['prod_serving_quantity'],
#         1.0
#     )

#     nutr_cols = [
#         'nutriments_energy-kcal_100g',
#         'nutriments_fat_100g',
#         'nutriments_carbohydrates_100g',
#         'nutriments_proteins_100g',
#         'nutriments_sugars_100g',
#         'nutriments_sodium_100g',
#         'nutriments_salt_100g',
#         'nutriments_saturated-fat_100g',
#     ]
#     for col in nutr_cols:
#         prod_col = f'prod_{col}'
#         sub_col = f'sub_{col}'
#         if prod_col in sl.columns and sub_col in sl.columns:
#             diff_col = f'{col}_diff'
#             sl[diff_col] = sl[sub_col] - sl[prod_col]

#     sl['prod_ingredients_len'] = sl['prod_ingredients_text'].astype(str).str.len()
#     sl['sub_ingredients_len'] = sl['sub_ingredients_text'].astype(str).str.len()
#     sl['ingredients_len_diff'] = sl['sub_ingredients_len'] - sl['prod_ingredients_len']

#     print("    Relationship features created.")

#     # 5.9 Merge user stats
#     print("  Merging user-level stats...")
#     sl = sl.merge(user_stats, on='user_id', how='left')
#     print(f"    After merge user_stats: {sl.shape}")

#     sl['user_total_orders'] = sl['user_total_orders'].fillna(0).astype(int)
#     sl['user_reorder_rate'] = sl['user_reorder_rate'].fillna(0.0)
#     sl['user_avg_days_between_orders'] = sl['user_avg_days_between_orders'].fillna(0.0)

#     # 5.10 Fill any remaining numeric NaNs in this cluster
#     print("  Final numeric NA fill for this cluster...")
#     numeric_cols_all = sl.select_dtypes(include=[np.number]).columns.tolist()
#     numeric_cols_all = [c for c in numeric_cols_all if c != 'label']
#     for col in numeric_cols_all:
#         median_val = sl[col].median()
#         sl[col] = sl[col].fillna(median_val)

#     # 5.11 Select final modeling columns for this cluster
#     print("  Selecting final columns for this cluster...")

#     id_cols = ['user_id', 'order_id', 'product_id', 'substitute_id']

#     feature_cols = [
#         'GMM_cluster_id',

#         'prod_price_usd',
#         'sub_price_usd',
#         'price_diff',
#         'price_ratio',
#         'prod_serving_quantity',
#         'sub_serving_quantity',
#         'serving_quantity_diff',
#         'serving_quantity_ratio',

#         'prod_product_popularity',
#         'sub_product_popularity',
#         'prod_global_reorder_prob',
#         'sub_global_reorder_prob',

#         'same_department',
#         'same_aisle',
#         'same_brand',
#         'same_final_category',

#         'nutriments_energy-kcal_100g_diff',
#         'nutriments_fat_100g_diff',
#         'nutriments_carbohydrates_100g_diff',
#         'nutriments_proteins_100g_diff',
#         'nutriments_sugars_100g_diff',
#         'nutriments_sodium_100g_diff',
#         'nutriments_salt_100g_diff',
#         'nutriments_saturated-fat_100g_diff',

#         'prod_ingredients_len',
#         'sub_ingredients_len',
#         'ingredients_len_diff',

#         'user_total_orders',
#         'user_reorder_rate',
#         'user_avg_days_between_orders',

#         'user_product_frequency_before',
#         'user_substitute_frequency_before',
#         'user_substitute_past_purchases',

#         'order_number',
#         'order_dow',
#         'order_hour_of_day',
#         'days_since_prior_order',
#     ]

#     target_col = 'label'

#     # some clusters may miss some diff columns if nutr data not present; keep only existing
#     feature_cols_existing = [c for c in feature_cols if c in sl.columns]

#     sl_cluster_final = sl[id_cols + feature_cols_existing + [target_col]].copy()
#     print(f"  Final shape for cluster {cid}: {sl_cluster_final.shape}")

#     cluster_results.append(sl_cluster_final)

# print("\nConcatenating all clusters...")
# sl_final_for_model = pd.concat(cluster_results, ignore_index=True)
# print("Done. Final dataset shape:", sl_final_for_model.shape)
# print(sl_final_for_model.info())

In [ ]:
import gc
a = gc.collect
print(a)

In [21]:
import pandas as pd
import numpy as np

# ------------------------------------------------------------------------------
# 0. INPUT DATAFRAMES
# sl_final_base: product_id, substitute_id, user_id, order_id, GMM_cluster_id, label
# ing_data:      product-level metadata
# price_data:    product_id, product_name, price_usd
# combined_order_details_final: full Instacart orders
# ------------------------------------------------------------------------------

sl_base = sl_final_base.copy()
ing = ing_data.copy()
price = price_data.copy()
orders = combined_order_details_final.copy()

print("Starting preprocessing...")

# ------------------------------------------------------------------------------
# 1. GLOBAL PRODUCT METADATA (ing + price) WITH NA HANDLING
# ------------------------------------------------------------------------------

print("Step 1: Building global product metadata...")

prod_meta = ing.merge(price[['product_id', 'price_usd']], on='product_id', how='left')

cat_cols = [
    'product_name', 'product_name_cleaned', 'department', 'aisle',
    'brands', 'final_category', 'ingredients_text'
]
for col in cat_cols:
    if col in prod_meta.columns:
        prod_meta[col] = prod_meta[col].fillna('Unknown')

num_cols_meta = [
    'serving_quantity',
    'nutriments_energy-kcal_100g',
    'nutriments_fat_100g',
    'nutriments_sodium_100g',
    'nutriments_carbohydrates_100g',
    'nutriments_salt_100g',
    'nutriments_proteins_100g',
    'nutriments_saturated-fat_100g',
    'nutriments_sugars_100g',
    'price_usd'
]
for col in num_cols_meta:
    if col in prod_meta.columns:
        median_val = prod_meta[col].median()
        prod_meta[col] = prod_meta[col].fillna(median_val)

global_price_median = prod_meta['price_usd'].median()
global_serving_median = prod_meta['serving_quantity'].median()

print("  Global product metadata ready.")

# ------------------------------------------------------------------------------
# 2. GLOBAL PRODUCT-LEVEL STATS FROM ORDERS (POPULARITY, REORDER PROB)
# ------------------------------------------------------------------------------

print("Step 2: Computing global product popularity and reorder stats...")

prod_pop = (
    orders
    .groupby('product_id')
    .size()
    .rename('product_popularity')
    .reset_index()
)

prod_reorder = (
    orders
    .groupby('product_id')['reordered']
    .mean()
    .rename('global_reorder_prob')
    .reset_index()
)

prod_stats = prod_pop.merge(prod_reorder, on='product_id', how='left')

print("  Global product stats ready.")

# ------------------------------------------------------------------------------
# 3. GLOBAL USER-LEVEL STATS
# ------------------------------------------------------------------------------

print("Step 3: Computing global user stats...")

user_total_orders = (
    orders
    .groupby('user_id')['order_number']
    .max()
    .rename('user_total_orders')
    .reset_index()
)

user_reorder_rate = (
    orders
    .groupby('user_id')['reordered']
    .mean()
    .rename('user_reorder_rate')
    .reset_index()
)

user_avg_days = (
    orders
    .groupby('user_id')['days_since_prior_order']
    .mean()
    .rename('user_avg_days_between_orders')
    .reset_index()
)

user_stats = (
    user_total_orders
    .merge(user_reorder_rate, on='user_id', how='left')
    .merge(user_avg_days, on='user_id', how='left')
)

user_stats['user_reorder_rate'] = user_stats['user_reorder_rate'].fillna(0.0)
user_stats['user_avg_days_between_orders'] = user_stats['user_avg_days_between_orders'].fillna(0.0)

print("  Global user stats ready.")

# ------------------------------------------------------------------------------
# 4. GLOBAL ORDER-LEVEL TABLES (BASKET FEATURES + HISTORICAL COUNTS)
# ------------------------------------------------------------------------------

print("Step 4: Preparing global order and basket tables...")

# 4.1 Basket-level features: size and price
print("  Computing basket-level features (size, total price, avg price)...")

orders_with_price = orders.merge(
    price[['product_id', 'price_usd']],
    on='product_id',
    how='left'
)

orders_with_price['price_usd'] = orders_with_price['price_usd'].fillna(global_price_median)

basket_features = (
    orders_with_price
    .groupby(['order_id', 'user_id'])
    .agg(
        basket_size=('product_id', 'size'),
        basket_unique_products=('product_id', 'nunique'),
        basket_total_price=('price_usd', 'sum'),
        basket_avg_price=('price_usd', 'mean')
    )
    .reset_index()
)

print("    basket_features shape:", basket_features.shape)

# 4.2 Order-level time/context (deduplicated per order_id, user_id)
orders_small = (
    orders[['order_id', 'user_id', 'order_number', 'order_dow',
            'order_hour_of_day', 'days_since_prior_order']]
    .drop_duplicates(['order_id', 'user_id'])
)

orders_small = orders_small.merge(
    basket_features,
    on=['order_id', 'user_id'],
    how='left'
)

print("    orders_small shape after merge:", orders_small.shape)
assert not orders_small.duplicated(['order_id', 'user_id']).any()

# 4.3 user-product historical counts (before each order)
print("  Computing global user-product historical frequencies...")

orders_up_prod = (
    orders[['user_id', 'product_id', 'order_number']]
    .sort_values(['user_id', 'product_id', 'order_number'])
)
orders_up_prod['user_product_frequency_before'] = (
    orders_up_prod
    .groupby(['user_id', 'product_id'])
    .cumcount()
)

# 4.4 user-substitute historical counts (treat substitute_id as product_id)
print("  Computing global user-substitute historical frequencies...")

orders_up_sub = (
    orders[['user_id', 'product_id', 'order_number']]
    .rename(columns={'product_id': 'substitute_id'})
    .sort_values(['user_id', 'substitute_id', 'order_number'])
)
orders_up_sub['user_substitute_frequency_before'] = (
    orders_up_sub
    .groupby(['user_id', 'substitute_id'])
    .cumcount()
)

print("  Global order tables ready.")

# ------------------------------------------------------------------------------
# 5. LOOP OVER GMM CLUSTERS
# ------------------------------------------------------------------------------

cluster_ids = sorted(sl_base['GMM_cluster_id'].unique())
print(f"Step 5: Processing {len(cluster_ids)} GMM clusters in a loop...")

cluster_results = []

for cid in cluster_ids:
    print(f"\n=== Processing GMM_cluster_id = {cid} ===")

    sl = sl_base[sl_base['GMM_cluster_id'] == cid].copy()
    print(f"  sl_cluster initial shape: {sl.shape}")

    # 5.1 Merge order-level context + basket features
    print("  Merging order-level context + basket features (orders_small)...")
    sl = sl.merge(orders_small, on=['order_id', 'user_id'], how='left')
    print(f"    After merge orders_small: {sl.shape}")
    assert sl.shape[0] == sl_base[sl_base['GMM_cluster_id'] == cid].shape[0]

    sl['days_since_prior_order'] = sl['days_since_prior_order'].fillna(0.0)

    # 5.2 Merge user-product historical frequency
    print("  Merging user-product historical frequency...")
    sl = sl.merge(
        orders_up_prod,
        on=['user_id', 'product_id', 'order_number'],
        how='left'
    )
    print(f"    After merge user-product freq: {sl.shape}")

    # 5.3 Merge user-substitute historical frequency
    print("  Merging user-substitute historical frequency...")
    sl = sl.merge(
        orders_up_sub,
        on=['user_id', 'substitute_id', 'order_number'],
        how='left'
    )
    print(f"    After merge user-substitute freq: {sl.shape}")

    sl['user_product_frequency_before'] = sl['user_product_frequency_before'].fillna(0).astype(int)
    sl['user_substitute_frequency_before'] = sl['user_substitute_frequency_before'].fillna(0).astype(int)
    sl['user_substitute_past_purchases'] = (sl['user_substitute_frequency_before'] > 0).astype(int)

    # 5.4 Filter product meta/stats to only products in this cluster
    print("  Preparing cluster-specific product metadata and stats...")
    prod_ids_in_cluster = pd.unique(
        pd.concat([sl['product_id'], sl['substitute_id']], ignore_index=True)
    )
    prod_meta_cluster = prod_meta[prod_meta['product_id'].isin(prod_ids_in_cluster)].copy()
    prod_stats_cluster = prod_stats[prod_stats['product_id'].isin(prod_ids_in_cluster)].copy()

    # 5.5 Attach product metadata for original product
    print("  Merging product metadata for original products...")
    prod_meta_prod = prod_meta_cluster.add_prefix('prod_')
    prod_meta_prod = prod_meta_prod.rename(columns={'prod_product_id': 'product_id'})
    sl = sl.merge(prod_meta_prod, on='product_id', how='left')
    print(f"    After merge prod_meta_prod: {sl.shape}")

    # 5.6 Attach product metadata for substitute
    print("  Merging product metadata for substitutes...")
    prod_meta_sub = prod_meta_cluster.add_prefix('sub_')
    prod_meta_sub = prod_meta_sub.rename(columns={'sub_product_id': 'substitute_id'})
    sl = sl.merge(prod_meta_sub, on='substitute_id', how='left')
    print(f"    After merge prod_meta_sub: {sl.shape}")

    # 5.7 Attach product stats (popularity, reorder prob)
    print("  Merging product stats for original products...")
    prod_stats_prod = prod_stats_cluster.add_prefix('prod_')
    prod_stats_prod = prod_stats_prod.rename(columns={'prod_product_id': 'product_id'})
    sl = sl.merge(prod_stats_prod, on='product_id', how='left')
    print(f"    After merge prod_stats_prod: {sl.shape}")

    print("  Merging product stats for substitutes...")
    prod_stats_sub = prod_stats_cluster.add_prefix('sub_')
    prod_stats_sub = prod_stats_sub.rename(columns={'sub_product_id': 'substitute_id'})
    sl = sl.merge(prod_stats_sub, on='substitute_id', how='left')
    print(f"    After merge prod_stats_sub: {sl.shape}")

    # 5.8 Relationship features between product and substitute
    print("  Creating relationship features (same dept/aisle/brand/category, price, serving, nutrition)...")

    sl['same_department'] = (sl['prod_department'] == sl['sub_department']).astype(int)
    sl['same_aisle'] = (sl['prod_aisle'] == sl['sub_aisle']).astype(int)
    sl['same_brand'] = (sl['prod_brands'] == sl['sub_brands']).astype(int)
    sl['same_final_category'] = (sl['prod_final_category'] == sl['sub_final_category']).astype(int)

    sl['prod_price_usd'] = sl['prod_price_usd'].fillna(global_price_median)
    sl['sub_price_usd'] = sl['sub_price_usd'].fillna(global_price_median)
    sl['price_diff'] = sl['sub_price_usd'] - sl['prod_price_usd']
    sl['price_ratio'] = np.where(
        sl['prod_price_usd'] > 0,
        sl['sub_price_usd'] / sl['prod_price_usd'],
        1.0
    )

    sl['prod_serving_quantity'] = sl['prod_serving_quantity'].fillna(global_serving_median)
    sl['sub_serving_quantity'] = sl['sub_serving_quantity'].fillna(global_serving_median)
    sl['serving_quantity_diff'] = sl['sub_serving_quantity'] - sl['prod_serving_quantity']
    sl['serving_quantity_ratio'] = np.where(
        sl['prod_serving_quantity'] > 0,
        sl['sub_serving_quantity'] / sl['prod_serving_quantity'],
        1.0
    )

    nutr_cols = [
        'nutriments_energy-kcal_100g',
        'nutriments_fat_100g',
        'nutriments_carbohydrates_100g',
        'nutriments_proteins_100g',
        'nutriments_sugars_100g',
        'nutriments_sodium_100g',
        'nutriments_salt_100g',
        'nutriments_saturated-fat_100g',
    ]
    for col in nutr_cols:
        prod_col = f'prod_{col}'
        sub_col = f'sub_{col}'
        if prod_col in sl.columns and sub_col in sl.columns:
            diff_col = f'{col}_diff'
            sl[diff_col] = sl[sub_col] - sl[prod_col]

    sl['prod_ingredients_len'] = sl['prod_ingredients_text'].astype(str).str.len()
    sl['sub_ingredients_len'] = sl['sub_ingredients_text'].astype(str).str.len()
    sl['ingredients_len_diff'] = sl['sub_ingredients_len'] - sl['prod_ingredients_len']

    print("    Relationship features created.")

    # 5.9 Merge user stats
    print("  Merging user-level stats...")
    sl = sl.merge(user_stats, on='user_id', how='left')
    print(f"    After merge user_stats: {sl.shape}")

    sl['user_total_orders'] = sl['user_total_orders'].fillna(0).astype(int)
    sl['user_reorder_rate'] = sl['user_reorder_rate'].fillna(0.0)
    sl['user_avg_days_between_orders'] = sl['user_avg_days_between_orders'].fillna(0.0)

    # 5.10 Final numeric NA fill for this cluster
    print("  Final numeric NA fill for this cluster...")
    numeric_cols_all = sl.select_dtypes(include=[np.number]).columns.tolist()
    numeric_cols_all = [c for c in numeric_cols_all if c != 'label']
    for col in numeric_cols_all:
        median_val = sl[col].median()
        sl[col] = sl[col].fillna(median_val)

    # 5.11 Select final modeling columns
    print("  Selecting final columns for this cluster...")

    id_cols = ['user_id', 'order_id', 'product_id', 'substitute_id']

    feature_cols = [
        'GMM_cluster_id',

        'prod_price_usd',
        'sub_price_usd',
        'price_diff',
        'price_ratio',
        'prod_serving_quantity',
        'sub_serving_quantity',
        'serving_quantity_diff',
        'serving_quantity_ratio',

        'prod_product_popularity',
        'sub_product_popularity',
        'prod_global_reorder_prob',
        'sub_global_reorder_prob',

        'same_department',
        'same_aisle',
        'same_brand',
        'same_final_category',

        'nutriments_energy-kcal_100g_diff',
        'nutriments_fat_100g_diff',
        'nutriments_carbohydrates_100g_diff',
        'nutriments_proteins_100g_diff',
        'nutriments_sugars_100g_diff',
        'nutriments_sodium_100g_diff',
        'nutriments_salt_100g_diff',
        'nutriments_saturated-fat_100g_diff',

        'prod_ingredients_len',
        'sub_ingredients_len',
        'ingredients_len_diff',

        'user_total_orders',
        'user_reorder_rate',
        'user_avg_days_between_orders',

        'user_product_frequency_before',
        'user_substitute_frequency_before',
        'user_substitute_past_purchases',

        'order_number',
        'order_dow',
        'order_hour_of_day',
        'days_since_prior_order',

        'basket_size',
        'basket_unique_products',
        'basket_total_price',
        'basket_avg_price',
    ]

    target_col = 'label'

    feature_cols_existing = [c for c in feature_cols if c in sl.columns]

    sl_cluster_final = sl[id_cols + feature_cols_existing + [target_col]].copy()
    print(f"  Final shape for cluster {cid}: {sl_cluster_final.shape}")

    cluster_results.append(sl_cluster_final)

print("\nConcatenating all clusters...")
sl_final_for_model = pd.concat(cluster_results, ignore_index=True)
print("Done. Final dataset shape:", sl_final_for_model.shape)
print(sl_final_for_model.info())

Starting preprocessing...
Step 1: Building global product metadata...
  Global product metadata ready.
Step 2: Computing global product popularity and reorder stats...
  Global product stats ready.
Step 3: Computing global user stats...
  Global user stats ready.
Step 4: Preparing global order and basket tables...
  Computing basket-level features (size, total price, avg price)...

KeyboardInterrupt:

In [25]:
sl_final_for_model.to_pickle('sl_final_for_model.pkl')

In [29]:
sl_final_for_model.columns

Index(['user_id', 'order_id', 'product_id', 'substitute_id', 'GMM_cluster_id',
       'prod_price_usd', 'sub_price_usd', 'price_diff', 'price_ratio',
       'prod_serving_quantity', 'sub_serving_quantity',
       'serving_quantity_diff', 'serving_quantity_ratio',
       'prod_product_popularity', 'sub_product_popularity',
       'prod_global_reorder_prob', 'sub_global_reorder_prob',
       'same_department', 'same_aisle', 'same_brand', 'same_final_category',
       'nutriments_energy-kcal_100g_diff', 'nutriments_fat_100g_diff',
       'nutriments_carbohydrates_100g_diff', 'nutriments_proteins_100g_diff',
       'nutriments_sugars_100g_diff', 'nutriments_sodium_100g_diff',
       'nutriments_salt_100g_diff', 'nutriments_saturated-fat_100g_diff',
       'prod_ingredients_len', 'sub_ingredients_len', 'ingredients_len_diff',
       'user_total_orders', 'user_reorder_rate',
       'user_avg_days_between_orders', 'user_product_frequency_before',
       'user_substitute_frequency_before', 'user_substitute_past_purchases',
       'order_number', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order', 'basket_size', 'basket_unique_products',
       'basket_total_price', 'basket_avg_price', 'label'],
      dtype='object')

In [32]:
sl_final_for_model.drop_duplicates(subset = ['user_id', 'product_id', 'substitute_id', 'GMM_cluster_id',
       'prod_price_usd', 'sub_price_usd', 'price_diff', 'price_ratio',
       'prod_serving_quantity', 'sub_serving_quantity',
       'serving_quantity_diff', 'serving_quantity_ratio',
       'prod_product_popularity', 'sub_product_popularity',
       'prod_global_reorder_prob', 'sub_global_reorder_prob', 'label'])['label'].value_counts()

label
0    8695485
1     553032
Name: count, dtype: int64